body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #222629;
  color: whitesmoke;
}

.navbar .appTitle {
  font-family: 'Droid serif', serif;
  color:  #86C232;
  font-size: 1.5rem;
  margin: 0.5rem;
}


.navabar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  font-size: 1.2rem;
  list-style: none;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
}

.navbar li:hover{
  background-color: #86C232;
}

.navbar .active{
  background-color: #86C232;
}

.burgerMenu {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  justify-content: space-between;
  flex-direction: column;
  width: 50px;
  height: 40px;
}

.bar {
  display: inline-block;
  background-color: whitesmoke;
  height: 6px;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 800px) {

  .burgerMenu {
    display: flex;
    cursor: pointer;
  }


  .navbar {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarLinks {
    display: none;
    width: 95%;
  }

  .navbarLinks ul {
    width: 90%;
  }

  .navbarLinks li {
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .navbarLinks.menuClicked{
    display: flex;
  }
}
